@import '../abstracts/variables';
@import '../layout/container.module';

.landing {
  @extend .container;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  //border-bottom: 1px solid $gray;

  .description {
    z-index: 2;

    h1 {
      font-size: 12rem;
      font-weight: 600;
      line-height: 12.5rem;
      cursor: pointer;
      margin-bottom: 3rem;
    }

    div {
      margin-bottom: 3rem;

      h2 {
        font-size: 3.8rem;
        width: 55%;
        font-weight: 500;
        cursor: default;

        span {
          background: $primary;
          cursor: pointer;
        }
      }
    }

  }

  .icons {
    display: flex;
    margin-bottom: 3rem;

    i {
      font-size: 4rem;
      margin: 0 4rem 0 0;

      &:hover {
        color: $primary;
      }
    }
  }

  @media only screen and (max-width: 768px) {

    justify-content: flex-end;

    .description {
      div > h2 {
        width: 100%;
      }
    }

    .icons {
      i {
        font-size: 5rem;
        margin: 0 5rem 0 0;
      }
    }
  }


  @media only screen and (max-width: 576px) {

    //background-color: red;

    .icons {
      margin: 5rem 0;

      i {
        font-size: 6rem;
        margin: 0 6rem 0 0;
      }
    }
  }
}



