$color-1: #191921;
$color-2: #dd9c12;
$color-3: #F5F5F7;
$color-4: #1C1C1D;
$color-5: #707070;

$background-color: $color-1;
$primary: $color-2;
$text: $color-3;
$gray: $color-5

//$color-1: #0F0F17;
//$color-2: #7081FA;
//$color-3: #F5F5F7;
//$color-4: #1C1C1D;
//$color-5: #707070;
//
//$background-color: $color-1;
//$primary: $color-2;
//$text: $color-3;
//$gray: $color-5