@import '../abstracts/variables';
@import '../layout/container.module';

.card {
  background-color: $color-4;
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  position: relative;
  padding-top: 100px; ;

  .image {
    height: 25rem;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
  }

  h1 {
    font-size: 3rem;
    font-weight: 500;
  }


  h2,div > p {
    margin: .5rem 0;
    font-size: 1.8rem;
    font-weight: 500;
  }

}